*{
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
    }

    .container{
        display: flex;
        padding: 10px;
     
       
        gap: 10px;
        justify-content: space-between;

    }
    .container{
        box-shadow: 0px 4px 6px -2px rgb(151, 108, 108);
        position: fixed;
        width: 100%;
        background-color: white;
    }

    .flex-box-1{
        display: flex;
       
        gap: 10px;
        padding: 10px;

    }
    .flex-box-2{
        display: flex;
        gap: 10px;
        padding: 10px;

    }

    .building{
        background-image: url(https://www.w3schools.com/w3images/architect.jpg);
        height: 100vh;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .building > p{
        color: white;
        font-size: 30px;
        word-spacing: 10px;

    }
    .building > p > span{
        display: inline;
        font-weight: bold;
        background-color: black;
        padding: 8px;
    }

    .projects-heading,
.about-container {
  margin: 16px 10px;
}
.projects-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 60vh;
  gap: 12px;
}
.projects-container > div {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.projects-container > div > p {
  background-color: black;
  color: white;
  display: inline-block;
  padding: 8px;
}
.project-1,
.project-6 {
  background-image: url("https://www.w3schools.com/w3images/house5.jpg");
}
.project-2,
.project-5 {
  background-image: url("https://www.w3schools.com/w3images/house2.jpg");
}
.project-3,
.project-8 {
  background-image: url("https://www.w3schools.com/w3images/house3.jpg");
}
.project-4,
.project-7 {
  background-image: url("https://www.w3schools.com/w3images/house4.jpg");
}

.people-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.people-container > div > img {
  width: 100%;
  display: block;
}
.people-button {
  width: 100%;
  border: 0px;
  padding: 6px 0px;
  cursor: pointer;
}